# Entorno virtual
venv/
env/
.venv/
.venv_pdf/
.pdf_pdf
.pdf_pdf/*
static/*
uploads/*
# Archivos del sistema
__pycache__/
*.py[cod]
*.log

# Archivos del editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Python
*.egg-info/
